<!DOCTYPE html>
<head>
    <title>Payment</title>
</head>
<body>
    Your transaction ID is <span id="Id" style="font-weight: bold;"><%= id %></span><br>
    
    Sender name is <span id="usename" style="font-weight: bold;"> <%= name %></span><br>
    Amount sent is <span style="font-weight: bold;"><%= amount %></span><br>
    Approved? <span style="font-weight: bold;"><%= approved %></span><br>
    Time of transaction <span style="font-weight: bold;"><%= time %></span><br>

    <!--
        Sender name
        Reciever name
        amount
        approved true/false
        Time of transaction
        Refund Button
    -->
</body>


